{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=EB+Garamond:wght@400;700&display=swap" rel="stylesheet">
  </head>
<body>

        <h1>WELCOME TO EKANSHGOENKA.com THE PLACE OF ME</h1>
  <p>Ayy, this is the place of me, cant you see, I got everything from Moviees to CDSS, baby, kee, kee rainbow rolies, for free, adii </p>
    <br>
    <br>

<ol>
  <li><a href="#"><span>Link 1</span></a></li>
    <br>
  <li><a href="#"><span>Link 2</span></a></li>
    <br>
  <li><a href="#"><span>Link 3</span></a></li>
</ol>

    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
